<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>后台管理</title>
</head>
<frameset rows="*" cols="202,*" framespacing="0" frameborder="NO" border="0" id="XPSFrame">
			<frame src="left.aspx" name="leftFrame" noresize="noresize" />
			<frameset rows="42,*" cols="*" framespacing="0" frameborder="0" border="0">
		      <frame src="top.aspx" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame"  />
	          <frame src="main.aspx" name="mainFrame" id="mainFrame" />
			</frameset>
</frameset>
</html>
