<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- 整站页面标题 -->
    <add key="websiteTitle" value="信息管理系统"/>
  </appSettings>

  <connectionStrings>
    <!-- 数据库连接 -->
    <add name="mssqlConnection" connectionString="server=.;Initial Catalog=informationSystem;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true">
    </compilation>
    <authentication mode="Windows"/>
  </system.web>

</configuration>